<div class="container-fluid py-1">
    <!--HERO IMAGE-->
    <div class="image-container">
        <img src="../../assets/Anzio.jpg" class="img-fluid" style="border-radius: 5px; width: 100%;" alt="">
    </div>

    <!--INTRODUZIONE ANZIO-->
    <div class="container col-xxl-8 px-4 py-5">
        <p class="text-start fs-5 py-5">
            Benvenuti ad Anzio, una città affascinante sulla costa del Mar Tirreno, situata a pochi chilometri da Roma.
            Anzio ti offre una combinazione unica di storia millenaria, spiagge dorate bagnate dalle
            acque cristalline e uno stile di vita mediterraneo invidiabile. Anzio vanta un patrimonio storico e
            culturale straordinario.
            Le rovine dell'antico porto romano e il Teatro di Nerone sono testimonianze affascinanti dell'epoca
            dell'Impero Romano.
            Nelle stradine del centro storico potrete passeggiare tra palazzi antichi e gustare autentiche prelibatezze
            locali nei ristoranti tipici.
        </p>
    </div>

    <!--PUNTI DI INTERESSE-->
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row align-items-center g-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="../../assets/Anzio_porto.jpg" class="d-block mx-lg-auto img-fluid" style="border-radius: 5px;"
                    alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h2 class="display-5">Punti di interesse</h2>
                <p class="text-start fs-5">
                    Ad Anzio vale la pena visitare riserva naturale di Tor Caldata, un tempo utilizzata per proteggere
                    il porto
                    da
                    eventuali nemici. Una passeggiata per il porto, il museo dello sbarco dedicato, allo sbarco delle
                    truppe
                    alleate. Qui sono esposte uniformi. I resti della villa di Nerone
                    sono ancora visibili tra il promontorio dell'Arco Muto e la zona di Capo d'Anzio. Non a caso qui la
                    spiaggia
                    è nota a tutti come "Le Grotte di Nerone".
                </p>
            </div>
        </div>
    </div>

    <!--SPIAGGE E RELAX
    <div class="container col-xxl-8 px-4 py-5">
        <h2 class="display-5">Spiagge e Relax</h2>
        <p class="text-start fs-5">
            Le lunghe spiagge di sabbia dorata, insignite della Bandiera Blu, invitano a godersi il sole e il mare in
            un'atmosfera
            rilassante. Qui potrete prendere il sole, fare rinfrescanti bagni nelle acque limpide e concedervi piacevoli
            passeggiate
            lungo la costa.
        </p>
    </div>-->

        <!--VITA LOCALE ED EVENTI-->
        <div class="container col-xxl-8 px-4 py-5">
            <div class="row flex-lg-row-reverse align-items-center g-5">
                <div class="col-10 col-sm-8 col-lg-6">
                    <img src="../../assets/spiagge.jpg" class="d-block mx-lg-auto img-fluid" style="border-radius: 5px;"
                        alt="Bootstrap Themes" width="700" height="500" loading="lazy">
                </div>
                <div class="col-lg-6">
                    <h2 class="display-5">Spiagge e Relax</h2>
                    <p class="text-start fs-5">
                        Le lunghe spiagge di sabbia dorata, insignite della Bandiera Blu, invitano a godersi il sole e il mare in
            un'atmosfera
            rilassante. Qui potrete prendere il sole, fare rinfrescanti bagni nelle acque limpide e concedervi piacevoli
            passeggiate
            lungo la costa.
                    </p>
                </div>
            </div>
        </div>

    <!--VITA LOCALE ED EVENTI-->
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row align-items-center g-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="../../assets/bar.jpg" class="d-block mx-lg-auto img-fluid" style="border-radius: 5px;"
                    alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h2 class="display-5">Vita Locale e Eventi</h2>
                <p class="text-start fs-5">
                    Anzio è una cittadina vivace tutto l'anno. Potrete partecipare a eventi culturali, festival e
                    mercatini che
                    animano le strade e
                    le piazze, immergendovi nella cultura locale. La presenza di una fiorente comunità di artisti e
                    artigiani
                    rende la città un luogo
                    creativo e stimolante.
                </p>
            </div>
        </div>
    </div>

    <!--NATURA ED ESCURSIONI-->
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="../../assets/natura.jpg" class="d-block mx-lg-auto img-fluid" style="border-radius: 5px;"
                    alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h2 class="display-5">Natura ed Escursioni</h2>
                <p class="text-start fs-5">
                    La bellezza naturale di Anzio è incantevole. Escursioni nei dintorni vi porteranno alla scoperta di
                    paesaggi
                    incontaminati e vedute
                    panoramiche mozzafiato sulla costa e le colline circostanti.
                </p>
            </div>
        </div>
    </div>

    <!--IL NOSTRO SUPPORTO-->
    <div class="container col-xxl-8 px-4 py-5">
        <h2 class="display-5">Il Nostro Supporto</h2>
        <p class="text-start fs-5">
            Se sognate di vivere in questa perla sul Mar Tirreno, il nostro team di professionisti sarà felice di
            aiutarvi a trovare la casa perfetta.
            Siamo qui per guidarvi attraverso il mercato immobiliare locale e rendere il vostro sogno una realtà.
            <strong>Contattaci</strong>oggi stesso per iniziare la vostra
            avventura ad Anzio e scoprire il suo fascino senza tempo. Vi
            aspettiamo con entusiasmo
            per darvi il benvenuto in questa straordinaria destinazione.
        </p>
    </div>

    <!--CONTATTACI-->
    <div class="container col-xxl-8 px-4 py-5"
        style="background-image: url('../../assets/contact_me.jpg'); border-radius: 5px; height: 40vh; display: flex; align-items: center;">
        <div class="row w-100 justify-content-between">
            <div class="col-lg-6 text-left">
                <h2 class="display-3" style="color: aliceblue;"><strong>Contatta i nostri esperti</strong></h2>
            </div>
            <div class="col-lg-6 text-center py-4">
                <div class="container-fluid">
                    <main class="form-signin w-100 m-auto">
                        <form [formGroup]="emailForm" (ngSubmit)="onSubmitdue()">
                            <div class="form-floating py-1">
                                <input class="form-control" type="email" name="email" id="floatingInput"
                                    placeholder="Email" formControlName="email">
                                <label for="floatingInput">Indirizzo email</label>
                                <p *ngIf="!emailForm.get('email')?.valid && emailForm.get('email')?.touched">Inserisci
                                    una mail valida</p>
                            </div>
                            <button class="w-100 btn btn-lg btn-primary" type="submit"
                                [disabled]="!emailForm.valid">Contattaci</button>
                            <div *ngIf="showSuccessMessage" class="alert alert-success mt-3">
                                Email inviata correttamente!
                            </div>
                        </form>
                    </main>
                </div>
            </div>
        </div>
    </div>



</div>